@import "../../assets/styling/mixins";
@import "../../assets/styling/variables";

.layout {
    width: 100%;

    main {
        width: 80vw;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        margin:0 auto;
        background-color: $body;
    }
}