@import '../../assets/styling/mixins';
@import '../../assets/styling/variables';

footer {
   @include displayRow();
   @include mainFont();
   background-color:$primary;
   color:$body;
   height: 20vh;
   position:fixed;
   width: 100%;
   bottom:0;
   font-size: 18px;
}