@import '../../../assets/styling/mixins';
@import '../../../assets/styling/variables';

nav {
    @include displayRow();
    height: 10vh;
    width:70%;
    padding: 1%;
    background-color: $body;

    a {
        text-decoration: none;
        color:black;
        font-size:16px;
    }

    a:hover {
        @include linkHover();
    }
}